# Ministério de Mídia ADMoema
DirectoryIndex index.php index.html
Options -Indexes
AddDefaultCharset UTF-8

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 day"
  ExpiresByType application/javascript "access plus 1 day"
</IfModule>
